.stepThreebutton {
  width: 100%;
  display: grid;
  padding: 1rem;
  grid-template-columns: 1.25rem auto 3rem;
  background-color: hsl(var(--white));
  border: 1px solid hsl(var(--cool-gray));
  border-radius: 0.4em;
  margin-bottom: 0.5rem;
  cursor: pointer;
  align-items: center;
}
.stepThreebutton:hover {
  background-color: hsl(var(--alabaster));
  border: 1px solid hsl(var(--purplish-blue));
}
.activeStepThreebutton {
  width: 100%;
  display: grid;
  padding: 1rem;
  grid-template-columns: 1.25rem auto 3rem;

  border-radius: 0.4em;
  margin-bottom: 0.5rem;
  cursor: pointer;
  align-items: center;

  background-color: hsl(216, 82%, 94%);
  border: 1px solid hsl(var(--purplish-blue));
}
.buttonName {
  text-align: left;
  margin-left: 1rem;
  color: hsl(var(--marine-blue));
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 140%;
}
.buttonDescription {
  text-align: left;
  margin-left: 1rem;
  color: hsl(var(--cool-gray));
  font-size: 0.875rem;
  font-weight: 500;
}
.buttonPrice {
  color: hsl(var(--purplish-blue));
  font-size: 0.875rem;
  font-weight: 500;
}
@media only screen and (min-width: 800px) {
  .formContainer {
    padding-top: 2.5rem;
    width: 100%;
    max-width: 28.125rem;
  }
  .stepThreebutton,
  .activeStepThreebutton {
    margin-bottom: 1rem;
  }
}
