.mainpageDiv {
  background-image: url('/bg-sidebar-mobile.svg');
  background-size: auto 10.75rem;
  background-position: top center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  padding: 2rem 1rem 1rem 1rem;
  box-shadow: 0 1rem 1rem hsl(var(--cool-gray));
  min-height: 41.25rem;
}
.formDiv {
  min-width: 16.25rem;
  padding: 2rem 1.5rem;
  border-radius: 0.5rem;
  max-width: 31.25rem;
  display: block;
  margin-inline: auto;
  background-color: hsl(var(--white));
  box-shadow: 0 0 1rem hsl(var(--cool-gray), 0.3);
}
.desktopImage {
  display: none;
}

@media only screen and (min-width: 23.5rem) {
  .mainpageDiv {
    background-image: url('/bg-sidebar-tablet800.svg');
  }
}
@media only screen and (min-width: 50rem) {
  .numbersOfStepsMobile {
    display: none;
  }
  .mainpageDiv {
    background-image: none;
    padding-top: 0;
    display: grid;
  }
  .formDiv {
    display: grid;
    grid-template-columns: 30% calc(70% - 5rem);
    column-gap: 5rem;
    max-width: 58.75rem;
    min-height: 37.5rem;
    padding: 1rem;
  }
  .form {
    align-self: center;
  }
  .desktopImage {
    display: block;
    background-image: url('/bg-sidebar-desktop.svg');
    width: 100%;
    height: 100%;
    border-radius: 0.4em;
    grid-row: 1 / span 2;
    padding: 2.63rem 2rem;
  }
}
